body {

}

#container {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: block;
    width: 800px;
    height: auto;

    margin-right: auto; /*Auto margins used for centering elements*/
	margin-left: auto; /*See previous comment*/

    background-color: rgba(0, 0, 255, 0.75);

	border:1px solid black;
	border-radius: 50px;

	padding: 10px;

	font-size: 0; /* remove spacing for the inline-block*/
    
    background: linear-gradient(45deg, #3A3B3E, #46D46E);
}

div {
	display: inline-block;			/* Make inline-Block*/
	vertical-align: top;		/*so images will sit side by side*/

	position: relative;

	width:auto;
    
    background-color: rgba(255, 255, 255, 1);
    
    border:2px dashed #999;
	border-top-left-radius: 50px;
    border-top-right-radius: 50px;

	margin: 10px;
	padding: 10px;	

	text-align: center;
	font-size: 16px; /* important to declare font-size here, otherwise will be 0*/
}

#box-1 {
    width: 300px;
    height:auto;
    background: linear-gradient(to right, #FF006e, #56FA24);
}

#box-2 {
    width: 300px;
    height:auto;
    background: linear-gradient(to right, #FFED21 1%, #FF2A06 50%, #9412FF 100%);
}