{%  extends "layout.html" %}

<!-- CSS linking begin -->
{% block css_linking %}
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
{%  endblock %}
<!-- CSS linking end -->

<!-- content begin -->
{% block content %}
    <!-- Page Title Begins -->
    <div class="col-sm-12 main">
        <h1 class="page-header">Avengers</h1>
        <!-- Page Title Ends -->

        <div class="col-sm-12">
            <div class="row">
                <!-- Year Menu Select Begin -->
                <div class="col-sm-4">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Years Menu Select
                        </div>
                        <div class="chart-stage text-center">
                            <div id="year-menu-select" class="dc-select-menu"></div>
                        </div>
                    </div>
                </div>
                <!-- Year Menu Select End -->

                <!-- Avenger Name Select Begin -->
                <div class="col-sm-4">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Name Menu Select
                        </div>
                        <div class="chart-stage text-center">
                            <div id="name-menu-select" class="dc-select-menu"></div>
                        </div>
                    </div>
                </div>
                <!-- Avenger Name Select End -->

                <!-- URL Menu Select Begin -->
                <div class="col-sm-4">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            URL Menu Select
                        </div>
                        <div class="chart-stage text-center">
                            <div id="url-menu-select" class="dc-select-menu"></div>
                        </div>
                    </div>
                </div>
                <!-- URL Menu Select End -->

                <!-- Gender Chart Begin -->
                <div class="col-sm-4">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Gender
                        </div>
                        <div class="chart-stage">
                            <div id="gender-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Gender Chart End -->

                <!-- Honorary Chart Begin -->
                <div class="col-sm-4">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Honorary Chart
                        </div>
                        <div class="chart-stage">
                            <div id="honorary-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Honorary Chart End -->

                <!-- Metric 1 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Total Number of Years
                        </div>
                        <div class="chart-stage" style=" background: #33CC99;
                             position: relative;
                             font-size: 29px;
                             color: white;
                             vertical-align: middle;
                             text-align: center;
                             padding-top: 12px;
                             padding-bottom: 0;">

                            <div id="years-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 1 -->

                <!-- Metric 2 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Total Number of Appearances
                        </div>
                        <div class="chart-stage">
                            <div id="appearances-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 2 -->

                <!-- Year Chart Begin -->
                <div class="col-sm-6">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Number of Years.
                        </div>
                        <div class="chart-stage">
                            <div id="year-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Year Chart End -->

                <!-- Current Bar Chart Begin -->
                <div class="col-sm-6">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            Current Status of Avenger
                        </div>
                        <div class="chart-stage">
                            <div id="current-bar-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Current Bar Chart End -->

                <!-- menu select -->
                <div class="col-sm-12">
                    <div class="chart-wrapper text-center">
                        <div class="chart-title">
                            URL Table
                        </div>
                        <div class="chart-stage">
                            <div id="url-table-data"></div>
                        </div>
                    </div>
                </div>
                <!-- menu select -->
            </div>
        </div>
    </div>
{% endblock %}
<!-- content end -->

<!-- JS linking -->
{% block js_linking %}
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/url_table_data.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/random_image_loader.js')}}"></script>
{% endblock %}
<!-- JS linking end -->