<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12 col-sm-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- Use the custom Carousel directive -->
		<image-carousel></image-carousel>
		<!-- carousel end -->
		<!-- main page heading -->
		<h1>{{ title }}</h1>
		<!-- Body content -->
		<div id="body-content">
			<!-- display (inject) our content in the browser -->
			<p>Pork bierschinken chicken ribs landjaeger pig ham beef turkey pig sausage ham tip ham beef tongue salami pig beef fatback pig kielbasa. T-bone andouillette turducken spare hamburger ham tri-tip cow ribeye drumstick. Beef frankfurter venison strip shankle cow tip cow andouillette ham bacon brisket ham porchetta, pig sirloin bierschinken, sirloin corned sausage, tip ham ribeye shankle, cow beef beef short drumstick, beef chicken pastrami. Ham pork jowl ribs venison, ham jowl rump tail capicola ham tip tip tongue fatback ham t-bone cow ham doner andouille. Kielbasa boudin sausage brisket. Ribeye ham turducken ham ribs tip tip beef pig doner ham swine sirloin ham jowl turkey, ham belly ham corned. Ham short beef pig prosciutto ham ham pork ham t-bone. Ribs chicken pig sopressata, pig tip ribs strip turkey pig mignon tip cow shank shankle, ham sausage pig chicken.
			</p>
			<p>Pork bierschinken chicken ribs landjaeger pig ham beef turkey pig sausage ham tip ham beef tongue salami pig beef fatback pig kielbasa. T-bone andouillette turducken spare hamburger ham tri-tip cow ribeye drumstick. Beef frankfurter venison strip shankle cow tip cow andouillette ham bacon brisket ham porchetta, pig sirloin bierschinken, sirloin corned sausage, tip ham ribeye shankle, cow beef beef short drumstick, beef chicken pastrami. Ham pork jowl ribs venison, ham jowl rump tail capicola ham tip tip tongue fatback ham t-bone cow ham doner andouille. Kielbasa boudin sausage brisket. Ribeye ham turducken ham ribs tip tip beef pig doner ham swine sirloin ham jowl turkey, ham belly ham corned. Ham short beef pig prosciutto ham ham pork ham t-bone. Ribs chicken pig sopressata, pig tip ribs strip turkey pig mignon tip cow shank shankle, ham sausage pig chicken.
			</p>
			<p>Pork bierschinken chicken ribs landjaeger pig ham beef turkey pig sausage ham tip ham beef tongue salami pig beef fatback pig kielbasa. T-bone andouillette turducken spare hamburger ham tri-tip cow ribeye drumstick. Beef frankfurter venison strip shankle cow tip cow andouillette ham bacon brisket ham porchetta, pig sirloin bierschinken, sirloin corned sausage, tip ham ribeye shankle, cow beef beef short drumstick, beef chicken pastrami. Ham pork jowl ribs venison, ham jowl rump tail capicola ham tip tip tongue fatback ham t-bone cow ham doner andouille. Kielbasa boudin sausage brisket. Ribeye ham turducken ham ribs tip tip beef pig doner ham swine sirloin ham jowl turkey, ham belly ham corned. Ham short beef pig prosciutto ham ham pork ham t-bone. Ribs chicken pig sopressata, pig tip ribs strip turkey pig mignon tip cow shank shankle, ham sausage pig chicken.
			</p>
			<p>Pork bierschinken chicken ribs landjaeger pig ham beef turkey pig sausage ham tip ham beef tongue salami pig beef fatback pig kielbasa. T-bone andouillette turducken spare hamburger ham tri-tip cow ribeye drumstick. Beef frankfurter venison strip shankle cow tip cow andouillette ham bacon brisket ham porchetta, pig sirloin bierschinken, sirloin corned sausage, tip ham ribeye shankle, cow beef beef short drumstick, beef chicken pastrami. Ham pork jowl ribs venison, ham jowl rump tail capicola ham tip tip tongue fatback ham t-bone cow ham doner andouille. Kielbasa boudin sausage brisket. Ribeye ham turducken ham ribs tip tip beef pig doner ham swine sirloin ham jowl turkey, ham belly ham corned. Ham short beef pig prosciutto ham ham pork ham t-bone. Ribs chicken pig sopressata, pig tip ribs strip turkey pig mignon tip cow shank shankle, ham sausage pig chicken.
			</p>
		</div>
		<!-- body-content end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->