<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12 col-sm-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- main page heading -->
		<h1>{{ title }}</h1>
		<div class="fluid-container navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-pills-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- nav tabs links begin -->
			<div class="collapse navbar-collapse" id="navbar-pills-collapse">
				<ul class="nav nav-pills nav-justified">
					<li class="active"><a data-toggle="tab" href="" data-target="#home">Joey</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu1">Jason</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu2">Paulette</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu3">Derice</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu4">Pete</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu5">Shanice</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu6">Will</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu7">Brent</a></li>
					<li><a data-toggle="tab" href="" data-target="#menu8">Paulo</a></li>
				</ul>
			</div>
			<!-- nav tabs links end -->
		</div>
		<!-- nav tabs content begin -->
		<div class="tab-content container-fluid">
			<!-- Joe Bloggs Begin -->
			<div id="home" class="tab-pane fade in active">
				<h2>Joe Bloggs&#44; Lead Guitarist</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/joe-bloggs.jpg" alt="Joe Bloggs" />
				<p>Hey fans&#33; I&#39;m Joe Bloggs&#44; but you can call me Joey&#46; I play lead guitar in the group&#46; We want to thank you all for being our loyal fans and helping us on our journey to stardom&#44; we sincerely mean that&#33; Without you all we would not be here where we are today&#46; Rock on&#33;</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Joe Bloggs end -->
			<!-- Jason De Santos begin -->
			<div id="menu1" class="tab-pane fade">
				<h2>Jason De Santos&#44; Saxophone</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/jason-de-santos.jpg" alt="Jason De Santos" />
				<p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Jason De Santos end -->
			<!-- Paulette Wall begin -->
			<div id="menu2" class="tab-pane fade">
				<h2>Paulette Wall, Jazz Singer</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/paulette-wall.jpg" alt="Paulette Wall" />
				<p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Paulette Wall end -->
			<!-- Derice Del Torro begin -->
			<div id="menu3" class="tab-pane fade">
				<h2>Derice Del Torro&#44; Guitarist</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/derice-del-torro.jpg" alt="Derice Del Torro" />
				<p>Hey fans&#33; I&#39;m Derice Del Torro&#44; but you can call me Joey&#46; I play lead guitar in the group&#46; We want to thank you all for being our loyal fans and helping us on our journey to stardom&#44; we sincerely mean that&#33; Without you all we would not be here where we are today&#46; Rock on&#33;</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Derice Del Torro end -->
			<!-- Pete Bridges begin -->
			<div id="menu4" class="tab-pane fade">
				<h2>Pete Bridges&#44; Violin</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/pete-bridges.jpg" alt="Pete Bridges" />
				<p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Pete Bridges end -->
			<!-- Shanice Rose begin -->
			<div id="menu5" class="tab-pane fade">
				<h2>Shanice Rose, Guitarist &amp; Singer</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/shanice-rose.jpg" alt="Paulette Wall" />
				<p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Shanice Rose end -->
			<!-- William Johnson begin -->
			<div id="menu6" class="tab-pane fade">
				<h2>William Johnson, Bongo Drums</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/william-johnson.jpg" alt="William Johnson" />
				<p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- William Johnson end -->
			<!-- Brent Taylor begin -->
			<div id="menu7" class="tab-pane fade">
				<h2>Brent Taylor, Banjo Player</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/brent-taylor.jpg" alt="Brent Taylor" />
				<p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Brent Taylor -->
			<!-- Paulo Benerd begin -->
			<div id="menu8" class="tab-pane fade">
				<h2>Paulo Benerd, Acoustic Guitarist</h2>
				<img class="img-thumbnail img-responsive" src="img/meet-the-band/paulo-benard.jpg" alt="Paulo Benerd" />
				<p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
				<p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
			</div>
			<!-- Paulo Benard end -->
		</div>
		<!-- nav tabs content end -->
		<hr>
		<!-- 
			audio controller - 
			ref: https://www.webcodegeeks.com/html5/html5-audio-player-example/  
		-->
		<!-- audio controller begin -->
		<div ng-controller="AudioController">
			<!-- playlist heading -->
			<h1>{{ playlistTitle }}</h1>
			<!-- audio player begin -->
			<div id="audio-player">
				<audio controls="controls" autoplay preload="auto">
					<p>You're browser does not support the suio element.</p>
				</audio>
			</div>
			<!-- audio player end -->
			<!-- audio player buttons begin -->
			<div id="audio-player-buttons">
				<button id="next-button" class="btn-lg btn-warning">Next</button>
			</div>
			<!-- audio player buttons end -->
			<!-- audio player table begin -->
			<div id="table">
				<table id="song-table">
					<!-- audio player table header begin -->
					<thead>
						<tr>
							<th id="album-art">
								<h3>{{ albumart }}</h3>
							</th>
							<th id="track-info">
								<h3>{{ track }}</h3>
							</th>
							<th id="track-duration">
								<h3>{{ duration }}</h3>
							</th>
						</tr>
					</thead>
					<!-- audio player table header end -->
					<!-- audio player table body begin -->
					<tbody>
						<!-- (ng-repeat) loop over each song in the list -->
						<tr>
							<!-- album image 1 -->
							<td><img class="img-thumbnail img-responsive" src="img/album-covers/album.jpg" alt="img-1" /></td>
							<!-- track name info -->
							<td>Last Train To Clarksville</td>
							<!-- track duration info -->
							<td><a>2:46</a></td>
						</tr>
						<tr>
							<!-- album image 2 -->
							<td><img class="img-thumbnail img-responsive" src="img/album-covers/album2.jpg" alt="img-1" /></td>
							<!-- track name info -->
							<td>Daydream Believer</td>
							<!-- track duration info -->
							<td><a>2:43</a></td>
						</tr>
						<tr>
							<!-- album image 3 -->
							<td><img class="img-thumbnail img-responsive" src="img/album-covers/cover.jpg" alt="img-1" /></td>
							<!-- track name info -->
							<td>I'm a Believer</td>
							<!-- track duration info -->
							<td><a>2:35</a></td>
						</tr>
						<tr>
							<!-- album image 4 -->
							<td><img class="img-thumbnail img-responsive" src="img/album-covers/cover1.jpg" alt="img-1" /></td>
							<!-- track name info -->
							<td>I'm Not Your Stepping Stone</td>
							<!-- track duration info -->
							<td><a>2:22</a></td>
						</tr>
						<tr>
							<!-- album image 5 -->
							<td><img class="img-thumbnail img-responsive" src="img/album-covers/album.jpg" alt="img-1" /></td>
							<!-- track name info -->
							<td>Tail Toddle</td>
							<!-- track duration info -->
							<td><a>1:27</a></td>
						</tr>
					</tbody>
					<!-- audio player table body end -->
				</table>
			</div>
			<!-- audio player table end -->
		</div>
		<!-- ng audio controller end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container & meet the band div end -->