<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- call our custom directive to display the itunes search & results -->
		<itunes-search></itunes-search>
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->
<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- video heading -->
		<h1>Check Out Our Latest Chart Hit!</h1>
		<!-- html5 video container -->
		<div id="html5-vid-container">
			<!-- html5 video -->
			<div id="html5-vid">
				<video controls="controls" auto="false" preload="auto" poster="video/html5-vid-overlay.png">
					<source src="video/TheMonkees.mp4" type="video/mp4" />
				</video>
			</div>
			<!-- html5 video end -->
		</div>
		<!-- html5 video container end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->