<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- main page heading -->
		<h1>Buy Tickets</h1>
		<!-- box 1 begin -->
		<div class="col-xs-12 col-sm-4">
			<!-- list group begin -->
			<div class="list-group">
				<a data-target="#" class="list-group-item">
					<h3 class="list-group-item-heading">London</h3>
					<span class="label label-danger">Sold Out!</span>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<img class="img-thumbnail img-responsive" src="img/services/box-1.jpg" alt="London">
					<p class="list-group-item-text">Friday 27 November 2015</p>
				</a>
				<button class="btn-lg btn-warning" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
			</div>
			<!-- list group end -->
		</div>
		<!-- box 1 end -->
		<!-- box 2 begin -->
		<div class="col-xs-12 col-sm-4">
			<!-- list group begin -->
			<div class="list-group">
				<a data-target="#" class="list-group-item">
					<h3 class="list-group-item-heading">Amsterdam</h3>
					<span class="label label-warning label-pill pull-xs-right">14 Tickets Left</span>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<img class="img-thumbnail img-responsive" src="img/services/box-2.jpg" alt="Amsterdam">
					<p class="list-group-item-text">Friday 27 November 2015</p>
				</a>
				<button class="btn-lg btn-warning" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
			</div>
			<!-- list group end -->
		</div>
		<!-- box 2 end -->
		<!-- box 3 begin -->
		<div class="col-xs-12 col-sm-4">
			<!-- list group begin -->
			<div class="list-group">
				<a data-target="#" class="list-group-item">
					<h3 class="list-group-item-heading">Germany</h3>
					<span class="label label-danger">Sold Out!</span>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<img class="img-thumbnail img-responsive" src="img/services/box-3.jpg" alt="Germany">
					<p class="list-group-item-text">Friday 27 November 2015</p>
				</a>
				<button class="btn-lg btn-warning" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
			</div>
			<!-- list group end -->
		</div>
		<!-- box 3 end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->

<!-- fluid container begin -->
<div class="container-fluid col-xs-12 col-sm-4">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- Modal begin -->
		<div class="modal fade" id="myModal" role="dialog">
			<!-- Modal dialog begin -->
			<div class="modal-dialog">
				<!-- Modal content begin-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-music"></span> Buy Tickets To See Us Live</h4>
					</div>
					<!-- Modal Body Begin -->
					<div class="modal-body">
						<!-- Modal form begin -->
						<form role="form">
							<!-- form input 1 begin -->
							<div class="form-group">
								<label for="ticketCost"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets £35 each person</label>
								<input type="number" class="form-control" id="ticketCost" placeholder="No. Of Tickets: example '4'">
							</div>
							<!-- form input 1 end -->
							<!-- form input 2 begin-->
							<div class="form-group">
								<label for="email"><span class="glyphicon glyphicon-user"></span> Send To</label>
								<input type="text" class="form-control" id="email" placeholder="example: you're@awesome.com">
							</div>
							<!-- form input 2 end -->
							<!-- Pay button begin -->
							<button type="submit" class="btn btn-block">Pay Now!
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<!-- Pay button end -->
						</form>
						<!-- Modal form end -->
					</div>
					<!-- Modal Body end -->
					<!-- Modal footer begin -->
					<div class="modal-footer">
						<!-- Cancel Button begin -->
						<button type="submit" class="btn-lg btn-warning btn-default pull-left" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>
						<!-- Cancel Button end -->
						<!-- Help link begin -->
						<p><a data-target="#/services">Need Help?</a></p>
						<!-- Help link end -->
					</div>
					<!-- Modal Footer end -->
				</div>
				<!-- Modal content end -->
			</div>
			<!-- Modal dialogue end -->
		</div>
		<!-- Modal end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->